<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/tareask?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <!-- <property name="hibernate.c3p0.max_size">50</property> -->
    <!-- <property name="hibernate.flushMode">ALWAYS</property> -->
    <mapping class="model.EmailContact"/>
    <mapping class="model.TaskPriority"/>
    <mapping class="model.User"/>
    <mapping class="model.MessageReceptor"/>
    <mapping class="model.GroupStatus"/>
    <mapping class="model.Grade"/>
    <mapping class="model.GroupUsers"/>
    <mapping class="model.Department"/>
    <mapping class="model.Group"/>
    <mapping class="model.Incidence"/>
    <mapping class="model.UserStatus"/>
    <mapping class="model.EmailConversation"/>
    <mapping class="model.Email"/>
    <mapping class="model.TaskReport"/>
    <mapping class="model.Task"/>
    <mapping class="model.SessionUser"/>
    <mapping class="model.Milestone"/>
    <mapping class="model.MilestoneStatus"/>
    <mapping class="model.Role"/>
    <mapping class="model.GroupMessage"/>
    <mapping class="model.IncidenceStatus"/>
    <mapping class="model.TaskStatus"/>
    <mapping class="model.EmailStatus"/>
    <mapping class="model.EmailMessage"/>
    <mapping class="model.EmailFolder"/>
    <mapping class="com.cristian.tareask.model.GroupMessage"/>
    <mapping class="com.cristian.tareask.model.SessionUser"/>
    <mapping class="com.cristian.tareask.model.EmailMessage"/>
    <mapping class="com.cristian.tareask.model.Milestone"/>
    <mapping class="com.cristian.tareask.model.EmailStatus"/>
    <mapping class="com.cristian.tareask.model.MilestoneStatus"/>
    <mapping class="com.cristian.tareask.model.Task"/>
    <mapping class="com.cristian.tareask.model.TaskPriority"/>
    <mapping class="com.cristian.tareask.model.GroupStatus"/>
    <mapping class="com.cristian.tareask.model.IncidenceStatus"/>
    <mapping class="com.cristian.tareask.model.User"/>
    <mapping class="com.cristian.tareask.model.Email"/>
    <mapping class="com.cristian.tareask.model.Role"/>
    <mapping class="com.cristian.tareask.model.Group"/>
    <mapping class="com.cristian.tareask.model.TaskStatus"/>
    <mapping class="com.cristian.tareask.model.EmailConversation"/>
    <mapping class="com.cristian.tareask.model.MessageReceptor"/>
    <mapping class="com.cristian.tareask.model.Department"/>
    <mapping class="com.cristian.tareask.model.EmailFolder"/>
    <mapping class="com.cristian.tareask.model.Incidence"/>
    <mapping class="com.cristian.tareask.model.GroupUsers"/>
    <mapping class="com.cristian.tareask.model.TaskReport"/>
    <mapping class="com.cristian.tareask.model.EmailContact"/>
    <mapping class="com.cristian.tareask.model.Grade"/>
    <mapping class="com.cristian.tareask.model.UserStatus"/>
  </session-factory>
</hibernate-configuration>
