<div layout:decorator="base/base">
    <th:block layout:fragment="title">
        <title>Tasks - Tareask</title>
    </th:block>
    <th:block layout:fragment="content">
        <div class="container" style="background-color: #f1f4f7">
            <!-- header panel -->
            <div class="row" style="background-color: #1caf9a;color:white">
                
                <div class="col-xs-8" >
                    <h4 style="margin-top:16px"><span th:if='${group == null}' class="glyphicon glyphicon-check" aria-hidden="true" style='color: white'></span><span th:if='${group != null}'><span class="glyphicon glyphicon-th-large" aria-hidden="true" style='color: white'></span> Group </span> Tasks</h4>
                </div>
                
                <div class="col-xs-4 col-sm-2 pull-right">
                    <!-- options space -->
                </div>
                
            </div>
            <!-- header panel end -->
            
            <div class="row">
                <div class="col-xs-12">
                    <div th:each="model : ${taskmodel}">
                        <!-- Task Repeat Block -->
                        <div class="row" th:style="'background-color: white;margin-left: 20px;margin-right: 20px;margin-top: 20px;margin-bottom: 20px;border-left: 5px solid;border-left-color: '+${model.task.incidencetotal != '0' ? 'red' : 'greenyellow'}+';'">

                            <!-- Simple Task info -->
                            <a href="#taskicons" style="color:inherit" data-toggle="collapse">
                                <div class="col-xs-6 col-sm-3 col-md-4" style="margin-top: 15px;margin-bottom: 10px">
                                    <span th:text="${model.task.title}" style="font-weight: bold">Nombre tarea</span>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-3" style="margin-top: 15px;margin-bottom: 10px">
                                    <span th:text="${#strings.substring(model.task.dateCreate,0,10)}" style="color: #5cb85c">15/12/2012</span> / <span th:text="${#strings.substring(model.task.dateFinish,0,10)}" style="color: #337ab7">12/01/2016</span> <span th:text="'('+${model.task.countDays+' days)'}" style="color: #adadad">(26 días)</span>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" style="margin-top: 15px;margin-bottom: 10px">
                                    Priority: <span th:text="${model.task.priority}" style="color: orange">Media</span>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-3" style="margin-top: 15px;margin-bottom: 10px">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" th:style="'width: '+${model.task.completed}+'%'">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- Simple Task info | End -->
                            
                            <!-- Expand Task info -->
                            <div id="taskicons" class="col-xs-12 collapse">
                                <hr/>
                                <div class="row hidde672">
                                    
                                    <!-- Details Block -->
                                    <div class="col-xs-2 col-xs-offset-1">
                                        <div class="row">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'details'">
                                                <div class="col-xs-12" style="text-align: center">
                                                    <img th:src="@{/public/img/taskicondetails.png}" style="max-width: 50px"/>
                                                </div>
                                                <div class="col-xs-12" style="text-align: center">
                                                    <span>Details</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Details Block | End -->
                                    
                                    <!-- Completed Block -->
                                    <div class="col-xs-2">
                                        <div class="row">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'completed'">
                                                <div class="col-xs-12" style="text-align: center">
                                                    <img th:src="@{/public/img/taskiconcompleted.png}" style="max-width: 50px"/>

                                                </div>
                                                <div class="col-xs-12" style="text-align: center">
                                                    <span>Completed</span>
                                                </div>
                                                <span th:text="${model.task.completed+'%'}" style="font-weight: bold;font-size: 15px;position: absolute;left:39%;top:18%">75%</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Completed Block | End -->
                                    
                                    <!-- Incidences Block -->
                                    <div class="col-xs-2">
                                        <div class="row">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'incidence'">
                                                <div class="col-xs-12" style="text-align: center">
                                                    <img th:src="@{/public/img/taskiconincidence.png}" style="max-width: 50px"/>
                                                </div>
                                                <div class="col-xs-12" style="text-align: center">
                                                    <span>Incidences</span>
                                                </div>
                                                <span th:text="${model.task.incidencetotal}" style="font-weight: bold;font-size: 15px;position: absolute;left:42%;top:18%">12</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Incidences Block | End -->
                                    
                                    <!-- Organization & Guidebook Block -->
                                    <div class="col-xs-2">
                                        <div class="row" th:if="${group != null}">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" data-target="#modaltask1organization">
                                                <div class="col-xs-12" style="text-align: center">
                                                    <img th:src="@{/public/img/taskiconorganization.png}" style="max-width: 50px"/>
                                                </div>
                                                <div class="col-xs-12" style="text-align: center">
                                                    <span>Organization</span>
                                                </div>
                                            </a>                                          
                                        </div>
                                        <div class="row" th:if="${group == null}">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'guidebook'">
                                                <div class="col-xs-12" style="text-align: center">
                                                    <img th:src="@{/public/img/taskicontip.png}" style="max-width: 50px"/>
                                                </div>
                                                <div class="col-xs-12" style="text-align: center">
                                                    <span>Guidebook</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Organization & Guidebook Block | End -->
                                    
                                    <!-- Reports & Comunication Block -->
                                    <div class="col-xs-2">
                                        <div class="row" th:if="${group == null}">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'reports'">
                                                <div class="col-xs-12" style="text-align: center">
                                                    <img th:src="@{/public/img/taskiconreport.png}" style="max-width: 50px"/>
                                                </div>
                                                <div class="col-xs-12" style="text-align: center">
                                                    <span>Reports</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="row" th:if="${group != null}">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'comunication'">
                                                <div class="col-xs-12" style="text-align: center">
                                                    <img th:src="@{/public/img/taskiconcomunication.png}" style="max-width: 50px"/>
                                                </div>
                                                <div class="col-xs-12" style="text-align: center">
                                                    <span>Comunication</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Reports & Comunication Block | End -->
                                    
                                </div>

                                <!-- Tiny Block Task Icons -->
                                <div class="row visible672" style="visibility: hidden;display:none;text-align: left">
                                    <a href="#" style="color:inherit;text-decoration: none">
                                        <div class="col-xs-12 leftfix" style="border:1px solid;border-color:lightgray;padding-top: 10px;padding-bottom: 10px;padding-left: 40%">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'details'">
                                                <div>
                                                    <span><img th:src="@{/public/img/taskicondetails.png}" style="max-width: 15px"/> Details</span>                  
                                                </div> 
                                            </a>
                                        </div>
                                    </a>
                                    <a href="#" style="color:inherit;text-decoration: none">
                                        <div class="col-xs-12 leftfix" style="border:1px solid;border-color:lightgray;padding-top: 10px;padding-bottom: 10px;padding-left: 40%">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'completed'">
                                                <div>
                                                    <span><img th:src="@{/public/img/taskiconcompleted.png}" style="max-width: 15px"/> Completed</span>
                                                    <span th:text="${model.task.completed+'%'}" class="label label-success">75%</span>
                                                </div> 
                                            </a>        
                                        </div>
                                    </a>
                                    <a href="#" style="color:inherit;text-decoration: none">
                                        <div class="col-xs-12 leftfix" style="border:1px solid;border-color:lightgray;padding-top: 10px;padding-bottom: 10px;padding-left: 40%">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'incidence'">
                                                <div>
                                                    <span><img th:src="@{/public/img/taskiconincidence.png}" style="max-width: 15px"/> Incidence</span>
                                                    <span th:text="${model.task.incidencetotal}" class="label label-danger">3</span>
                                                </div> 
                                            </a>
                                        </div>
                                    </a>
                                    <a href="#" style="color:inherit;text-decoration: none">
                                        <div th:if="${group != null}" class="col-xs-12 leftfix" style="border:1px solid;border-color:lightgray;padding-top: 10px;padding-bottom: 10px;padding-left: 40%">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'organization'">
                                                <div>
                                                    <span><img th:src="@{/public/img/taskiconorganization.png}" style="max-width: 15px"/> Organizacion</span>                  
                                                </div> 
                                            </a>
                                        </div>
                                    </a>
                                    <a href="#" style="color:inherit;text-decoration: none">
                                        <div th:if="${group != null}" class="col-xs-12 leftfix" style="border:1px solid;border-color:lightgray;padding-top: 10px;padding-bottom: 10px;padding-left: 40%">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'comunication'">
                                                <div>
                                                    <span><img th:src="@{/public/img/taskiconcomunication.png}" style="max-width: 15px"/> Comunication</span>                  
                                                </div> 
                                            </a>
                                        </div>
                                    </a>
                                    <a href="#" style="color:inherit;text-decoration: none">
                                        <div th:if="${group == null}" class="col-xs-12 leftfix" style="border:1px solid;border-color:lightgray;padding-top: 10px;padding-bottom: 10px;padding-left: 40%">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'guidebook'">
                                                <div>
                                                    <span><img th:src="@{/public/img/taskicontip.png}" style="max-width: 15px"/> Guidebook</span>                  
                                                </div> 
                                            </a>
                                        </div>
                                    </a> 
                                    <a href="#" style="color:inherit;text-decoration: none">
                                        <div th:if="${group == null}" class="col-xs-12 leftfix" style="border:1px solid;border-color:lightgray;padding-top: 10px;padding-bottom: 10px;padding-left: 40%">
                                            <a href="#" style="color:inherit;text-decoration: none" data-toggle="modal" th:attr="data-target='#modaltask'+${model.task.id}+'reports'">
                                                <div>
                                                    <span><img th:src="@{/public/img/taskiconreport.png}" style="max-width: 15px"/> Reports</span>                  
                                                </div> 
                                            </a>
                                        </div>
                                    </a>     
                                </div>
                                <!-- Tiny Block Task Icons | End -->
                            </div> 
                            <!-- Expand Task info | End -->
                            
                        </div>                  
                        <!-- Task Repeat Block | End -->
                        
                        <!-- Task Modals -->
                        <div th:include="modals/taskmodals :: details"></div>                      
                        <div th:include="modals/taskmodals :: completed"></div>                      
                        <div th:include="modals/taskmodals :: incidence"></div>                      
                        <div th:include="modals/taskmodals :: organization"></div>                       
                        <div th:include="modals/taskmodals :: guidebook"></div>                      
                        <div th:include="modals/taskmodals :: reports"></div>                      
                        <div th:include="modals/taskmodals :: comunication"></div>
                        <!-- Task Modals | End -->
                        
                    </div>                          
                </div>
            </div>
        </div>     
    </th:block>
</div>
