<div th:fragment="writemail">
    <div id="writemail" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New E-mail</h4>
                </div>
                <div class="modal-body">
                    <!-- Aquí va el listado de contactos -->
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <a data-toggle="collapse" href="#addreport" style="color:inherit;text-decoration: none">
                                <div class="panel-heading" style="background-color: #b2dba1 !important">
                                    <h4 class="panel-title">
                                        Add contacts
                                    </h4>
                                </div>
                            </a>
                            <div id="addreport" class="panel-collapse collapse">

                                <div th:each="contact : ${listusers}">
                                    <a href="#" style="color:inherit;text-decoration: none" th:onclick="|addReceptor('${contact.email}', '${contact.id}')|">
                                        <div th:id="${contact.id}">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:greenyellow"></span>
                                            <span th:text="${contact.name}"></span>
                                            <span th:text="${contact.subname}"></span>
                                            <hr/>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Fin listado de contactos -->
                    <form method="POST" action="addemail.html">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">To</label>
                            <div class="col-lg-10">
                                <input id="receptors" placeholder="" class="form-control" type="text" name="receptors" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Subject</label>
                            <div class="col-lg-10">
                                <input placeholder="" name="subject" class="form-control" type="text" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Message</label>
                            <div class="col-lg-10">
                                <textarea rows="10" cols="30" class="form-control" id="content" name="content" required="required"></textarea>
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">  
                                <button class="btn btn-send" type="submit">Send</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="replymail">
    <div id="replymail" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="replymail.html">

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Subject</label>
                            <div class="col-lg-10">
                                <input placeholder="" th:value="${idConversation}" name="subject" class="form-control" type="text" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Subject</label>
                            <div class="col-lg-10">
                                <input placeholder="" name="subject" class="form-control" type="text" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Message</label>
                            <div class="col-lg-10">
                                <textarea rows="10" cols="30" class="form-control" id="" name="content" required="required"></textarea>
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">  
                                <button class="btn btn-send" type="submit">Send</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="editprofile">
    <div id="editprofile" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>                   
                    <h4 class="modal-title" style="color: darkslategray"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit Profile</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="editprofile.html"> 
                        <div class="form-group">
                            <label style="color: turquoise">Name</label>
                            <input type="text" class="form-control" th:value="${user.name}" name="name"/>
                        </div>
                        <div class="form-group">
                            <label style="color: turquoise">Subname</label>
                            <input type="text" class="form-control" th:value="${user.subname}" name="subname"/>
                        </div>
                        
                        <div class="form-group">
                            <label style="color: turquoise">Birthdate</label>
                            <input type="text" class="form-control" th:value="${user.birthdate}" name="birthdate"/>
                        </div>
                        
                        <div class="form-group">
                            <label style="color: turquoise">Phone</label>
                            <input type="text" class="form-control" th:value="${user.phone}" name="phone"/>
                        </div>
                        
                        <div class="form-group">
                            <label style="color: turquoise">Old Password</label>
                            <input type="password" class="form-control"  name="oldpassword"/>
                        </div>
                        
                        <div class="form-group">
                            <label style="color: turquoise">New Password</label>
                            <input type="password" class="form-control"  name="newpassword"/>
                        </div>
                        <button type="submit" class="btn btn-default" style="background-color: #1caf9a;color: white">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

