<div th:fragment="details">     
    <div th:id="'modaltask'+${model.task.id}+'details'" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title" style="color: darkslategray"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Task details</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h4 style="color: #1caf9a">Task - <span th:text="${model.task.title}" style="color:grey">Task name</span></h4>                                                                    
                            <hr/>
                            <h4 style="color: #1caf9a">Description</h4>
                            <div class="well">
                                <p th:text="${model.task.description}" class="higl">Example text description</p>
                            </div>
                            <h4 style="color: #1caf9a">Date creation</h4>
                            <p th:text="${model.task.dateCreate}">12/12/2012</p>
                            <h4 style="color: #1caf9a">Date expire</h4>
                            <p th:text="${model.task.dateFinish}">12/12/2012</p>
                            <div class="well">
                                <h4 style="color: #1caf9a">Milestones</h4>
                                <div th:each="milestone : ${model.milestones}">
                                    <p style='font-weight: bold'><span th:text="'#'+${milestone.order+' '}"></span><span th:text="${milestone.title}">Milestone title</span></p>
                                    <p th:text="${milestone.description}">Milestone description</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:fragment="completed">
    <div th:id="'modaltask'+${model.task.id}+'completed'" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: darkslategray"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Milestones completed</h4>
                </div>
                <div class="modal-body">
                    <div th:each="milestone : ${model.milestones}">
                        <div class='row'>
                            <div class='col-xs-2' th:switch="${milestone.status}">
                                <div th:case="'close'">
                                    <a th:href="'#milestone'+${milestone.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                                        <div class="well" >
                                            <span style='color: greenyellow' class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </div>
                                    </a>
                                </div>
                                <div th:case="'open'">
                                    <a th:href="'#milestone'+${milestone.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                                        <div class="well" >
                                            <span style='color: #262626' class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                        </div>
                                    </a>
                                    <div th:case="'incidence'">
                                        <a th:href="'#milestone'+${milestone.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                                            <div class="well" >
                                                <span style='color: red' class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class='col-xs-9'>
                                <a th:href="'#milestone'+${milestone.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                                    <div class="well" >
                                        <span th:text="${'#'+milestone.order+' - '}"></span><span th:text="${milestone.title}">Title</span>
                                        <div th:id="'milestone'+${milestone.id}" class="collapse">
                                            <hr/>
                                            <p th:text="${milestone.description}">Description</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:fragment="incidence">
    <div th:id="'modaltask'+${model.task.id}+'incidence'" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: darkslategray"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Incidences</h4>
                </div>
                <div class="modal-body">
                    <div th:each="incidence : ${model.incidences}">
                        <div class='row'>
                            <div class='col-xs-2' th:switch="${incidence.status}">
                                <div th:case="'close'">
                                    <a th:href="'#incidence'+${incidence.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                                        <div class="well" >
                                            <span style='color: greenyellow' class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </div>
                                    </a>
                                </div>
                                <div th:case="'open'">
                                    <a th:href="'#incidence'+${incidence.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                                        <div class="well">
                                            <span style='color: #262626' class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class='col-xs-9'>
                                <a th:href="'#incidence'+${incidence.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                                    <div class="well" th:style="${incidence.status == 'open'} ? 'background-color: #FCE6E5' : ''">
                                        <span th:text="${incidence.title}">Title</span>
                                        <div th:id="'incidence'+${incidence.id}" class="collapse">
                                            <hr/>
                                            <p th:text="${incidence.description}">Description</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:fragment="guidebook">     
    <div th:id="'modaltask'+${model.task.id}+'guidebook'" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: darkslategray"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Guidebook</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
  
                            <h4 style="color: #1caf9a">Description</h4>
                            <div class="well">
                                <p th:text="${model.task.description}" class="higl">Example text description</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:fragment="organization">
    <div th:id="'modaltask'+${model.task.id}+'organization'" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:fragment="reports">
    <div th:id="'modaltask'+${model.task.id}+'reports'" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: darkslategray"><img th:src="@{/public/img/taskiconreport.png}" style="max-width: 20px"/> Reports</h4>
                </div>
                <div class="modal-body">
                    <!-- Add Report -->
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <a data-toggle="collapse" href="#addreport" style="color:inherit;text-decoration: none">
                                <div class="panel-heading" style="background-color: turquoise !important;color: white !important">
                                    <h4 class="panel-title">
                                        Add report
                                    </h4>
                                </div>
                            </a>
                            <div id="addreport" class="panel-collapse collapse">

                                <form action='addreport.html' method="POST" class="form-horizontal" style="margin: 10px">
                                    <div class="form-group">

                                        <div class="col-sm-10">
                                            <input th:value="${model.task.id}" name="task" type="hidden" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="title" class="col-sm-2 control-label">Title</label>
                                        <div class="col-sm-10">
                                            <input name="title" type="text" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea name="description" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default">Submit report</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add Report End -->
                    <div th:each="report : ${model.reports}">
                        <a th:href="'#report'+${report.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                            <div class="well" >
                                <span th:text="${report.title}">Title </span>- <span th:text="${report.date}">12/12/2012 22:12h</span>
                                <div th:id="'report'+${report.id}" class="collapse">
                                    <hr/>
                                    <p th:text="${report.description}">Description</p>
                                </div>
                            </div>
                        </a>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:fragment="comunication">
    <div th:id="'modaltask'+${model.task.id}+'comunication'" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: darkslategray"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comunication</h4>
                </div>
                <div class="modal-body">
                    <!-- Add Report -->
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <a data-toggle="collapse" href="#addmessage" style="color:inherit;text-decoration: none">
                                <div class="panel-heading" style="background-color: turquoise !important;color: white !important">
                                    <h4 class="panel-title">
                                        Add message
                                    </h4>
                                </div>
                            </a>
                            <div id="addmessage" class="panel-collapse collapse">

                                <form action='addreport.html' method="POST" class="form-horizontal" style="margin: 10px">
                                    <div class="form-group">

                                        <div class="col-sm-10">
                                            <input th:value="${model.task.id}" name="task" type="hidden" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Subject</label>
                                        <div class="col-sm-10">
                                            <input name="subject" type="text" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label">Message</label>
                                        <div class="col-sm-10">
                                            <textarea name="message" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default">Submit message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add Report End -->
                    <div th:each="message : ${model.messages}">
                        <a th:href="'#message'+${message.id}" style="color:inherit;text-decoration: none" data-toggle="collapse">
                            <div class="well" >
                                <p th:text="${message.user}">Title </p>
                                <!-- <p th:text="${message.subject}">Title </p> -->
                                <p th:text="${message.date}">12/12/2012 22:12h</p>
                                <div th:id="'message'+${message.id}" class="collapse">
                                    <hr/>
                                    <p th:text="${message.message}">Description</p>
                                </div>
                            </div>
                        </a>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:fragment="tasksfilter">
    <div id="tasksfilter" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>



